<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>一覧表</title>
		<meta charset="UTF-8" />
    	<link href="css/style.css" rel="stylesheet" />
	</head>
	<body>
		<h1 th:text="${title}">一覧</h1>
		<p th:text="${msg}"></p>
		<table>
			<form action="/find" method="post">
			<tr><td>検索:</td>
				<td><input type="text" name="find" size="20" th:value="${value}" /></td>
			</tr>
			<tr><td></td>
				<td><input type="submit" /></td></tr>
			</form>
		</table>
		<table>
		<tr><th>CODE</th><th>商品名</th><th>金額</th><th>グループ</th></tr>
		<tr th:each="obj : ${datalist}">
			<td th:text="${obj.scode}"></td>
			<td th:text="${obj.sname}"></td>
			<td th:text="${obj.price}"></td>
			<td th:text="${obj.gcode}"></td>
		</tr>
		</table>
	</body>
</html>