<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>一覧表</title>
		<meta charset="UTF-8" />
    	<link href="css/style.css" rel="stylesheet" />
	</head>
	<body>
		<h1 th:text="#{content.title}">一覧表</h1>
		<p th:text="${msg}"></p>

		<table>
			<form action="/find" method="post">
				<tr><td>検索:</td>
					<td><input type="text" name="find" size="20" th:value="${value}" /></td>
				</tr>
				<tr><td></td>
					<td><input type="submit" /></td></tr>
			</form>
		</table>
		<hr />
		<table>
			<tr><th>id</th><th>ユーザー名</th><th>パスワード</th><th>日時</th></tr>
			<tr th:each="obj : ${datalist}">
				<td th:text="${obj.id}"></td>
				<td th:text="${obj.name}"></td>
				<td th:text="${obj.pass}"></td>
				<td th:text="${obj.date}"></td>
				<td><a href="/edit/${obj.id}">編集</a></td>
			</tr>
		</table>
	</body>
</html>